backend/db.sqlite3
backend/db.sqlite3
backend/config/__pycache__/__init__.cpython-310.pyc
backend/config/__pycache__/settings.cpython-310.pyc
backend/config/__pycache__/urls.cpython-310.pyc
backend/config/__pycache__/wsgi.cpython-310.pyc
backend/movie/__pycache__/__init__.cpython-310.pyc
backend/movie/__pycache__/admin.cpython-310.pyc
backend/movie/__pycache__/apps.cpython-310.pyc
backend/movie/__pycache__/models.cpython-310.pyc
backend/movie/__pycache__/serializers.cpython-310.pyc
backend/movie/__pycache__/urls.cpython-310.pyc
backend/movie/__pycache__/views.cpython-310.pyc
backend/movie/migrations/0004_movie_votes.py
backend/movie/migrations/0005_alter_movie_date_watched.py
backend/movie/migrations/__pycache__/__init__.cpython-310.pyc
backend/movie/migrations/__pycache__/0001_initial.cpython-310.pyc
backend/movie/migrations/__pycache__/0002_initial.cpython-310.pyc
backend/movie/migrations/__pycache__/0003_rename_ratings_movie_rating_movie_ratingcount.cpython-310.pyc
backend/movie/migrations/__pycache__/0004_movie_votes.cpython-310.pyc
backend/movie/migrations/__pycache__/0005_alter_movie_date_watched.cpython-310.pyc
backend/review/__pycache__/__init__.cpython-310.pyc
backend/review/__pycache__/admin.cpython-310.pyc
backend/review/__pycache__/apps.cpython-310.pyc
backend/review/__pycache__/models.cpython-310.pyc
backend/review/__pycache__/serializers.cpython-310.pyc
backend/review/__pycache__/urls.cpython-310.pyc
backend/review/__pycache__/views.cpython-310.pyc
backend/review/migrations/__pycache__/__init__.cpython-310.pyc
backend/review/migrations/__pycache__/0001_initial.cpython-310.pyc
backend/review/migrations/__pycache__/0002_initial.cpython-310.pyc
backend/review/migrations/__pycache__/0003_review_description_review_rating.cpython-310.pyc
backend/user/__pycache__/__init__.cpython-310.pyc
backend/user/__pycache__/admin.cpython-310.pyc
backend/user/__pycache__/apps.cpython-310.pyc
backend/user/__pycache__/managers.cpython-310.pyc
backend/user/__pycache__/models.cpython-310.pyc
backend/user/__pycache__/serializers.cpython-310.pyc
backend/user/__pycache__/views.cpython-310.pyc
backend/user/migrations/0002_user_numvotes.py
backend/user/migrations/__pycache__/__init__.cpython-310.pyc
backend/user/migrations/__pycache__/0001_initial.cpython-310.pyc
backend/user/migrations/__pycache__/0002_user_numvotes.cpython-310.pyc
backend/vote/__init__.py
backend/vote/__pycache__/__init__.cpython-310.pyc
backend/vote/__pycache__/admin.cpython-310.pyc
backend/vote/__pycache__/apps.cpython-310.pyc
backend/vote/__pycache__/models.cpython-310.pyc
backend/vote/__pycache__/serializers.cpython-310.pyc
backend/vote/__pycache__/views.cpython-310.pyc
backend/vote/migrations/__init__.py
backend/vote/migrations/0001_initial.py
backend/vote/migrations/__pycache__/__init__.cpython-310.pyc
backend/vote/migrations/__pycache__/0001_initial.cpython-310.pyc
backend/db.sqlite3
